.products{
  margin: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.App{
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 130px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.App img{
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 4px;
}
.App span{
  text-align: center;
}