body {
  margin: 0;
  padding: 0;
}

.products {
  margin: 25px 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 130px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.App img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.App span {
  text-align: center;
}

.pagination {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #51bae8;
}

.pagination span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

@media only screen and (max-width: 478px) {
  .pagination{
    height: 50px;
  }
  .pagination span {
    width: 25px;
    height: 25px;
    font-size: medium;
  }
  .products{
    gap: 20px;
  }
}

.pagination__selected {
  color: white;
  border: 2px solid #2184c2;
  border-radius: 50%;
  color: #2184c2;
}
.not_selected {
  color: #ffffff;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
